@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


.project {
    /* font-family: 'Nanum Gothic Coding', monospace; */
    background-color: rgb(245, 245, 245);
}

.title{
    text-align: start;
    font-size: 2.5rem;
    font-family: 'Nanum Gothic Coding', monospace;
}

.projectPage {
    width: 100vw;
    max-width: 73em;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.projectContent {
    padding-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.projectSlide {
    width: 100%;
    height: 74vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectCard {
    width: 87%;
    height: 85%;
    background: white;
    box-shadow: 0.3rem 0.3rem 0.3rem 0 rgb(68 68 68 / 20%);
    -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0 rgb(68 68 68 / 20%);
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.projectCardContent {
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 100%;
}

.projectCardTitle {
    font-size: 2.2rem;
    font-weight: 500;
    padding: 1.2rem;
    
}

.projectImg {
    width: 100%;
    height: 100%;
}

.projectImgLab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.projectAcc {
    padding: 2rem;
}

.projectAccText {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 1rem;
    text-align: start;
}

.projectAccStack {
    text-align: start;
}

.projectStackBox{
    display: grid;
    grid-template-columns: 4fr 6fr;
    padding-bottom: 1rem;
}

.slideLap{
    width: 95%;
    margin: 0 auto;
}

a{
    word-break: break-word;
}

@media screen and (max-width:1024px) {
    /* 타블렛 */
    .projectCardTitle {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.2rem;
    }
    .projectPage {
        width: 100%;
    }
    
    .projectCardContent {
        grid-template-rows: 6fr 4fr;
        grid-template-columns: none;
    }
    .slideLap{
        width: 90%;
        margin: 0 auto;
    }
}


@media screen and (max-width:767px) {
    /* 모바일 */
    .projectCardTitle {
        font-size: 1rem;
        font-weight: 500;
        padding: 1.2rem;
    }
    .slideLap{
        width: 85%;
    }
    .projectAccText {
        font-size: 0.7rem;
    }
    
    .projectAccStack {
        font-size: 0.7rem;
    }
}
