.aboutCard{
    display: flex;
    width: 50%;
    align-items: center;
}

.cardEmoji{
    font-size: 5rem;
    padding-right: 2rem;
}

.cardName{
    font-size: 2.2rem;
}

.cardContent{
    font-size: 1.5rem;
}