.about {
    /* font-family: 'Nanum Gothic Coding', monospace; */
    background-color: rgb(245, 245, 245);
}

.aboutPage {
    width: 100vw;
    max-width: 73em;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.aboutTitle{
    text-align: end;
    padding-top: 40vh;
    padding-right: 7rem;
    color: rgb(57,57,57);
    font-size: 3rem;
}

.aboutContent{
    padding-top: 16vh;
    width: 100%;
    align-items: baseline;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width:1024px) {
    /* 타블렛 */
    .aboutPage {
        width: 100%;
        max-width: none;
    }
    .aboutTitle{
        text-align: start;
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 0;
        font-size: 1rem;
    }
    .aboutContent{
        padding-top: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: inherit;
    }
    .aboutPage {
        flex-direction: column;
    }
}


@media screen and (max-width:767px) {
    /* 모바일 */
    .aboutTitle{
        padding-top: 6rem;
    }
    .aboutPage {
        flex-direction: column;
    }
}
