.skill {
    /* font-family: 'Nanum Gothic Coding', monospace; */
    background-color: rgb(255, 255, 255);
}

.skillPage {
    width: 100vw;
    max-width: 73em;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.skillContent{
    padding-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.skillTitle{
    font-size: 3.5rem;
    color: rgb(92, 92, 92);
    text-align: start;
    border-bottom: 1px solid rgb(92, 92, 92);
}
.skillImgSet{
    display: grid;
    height: 72%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    grid-gap: 1rem;
    width: 80%;
}

.skillImg{
    width: 82%;
    height: 76%;
}

.imgLap{
    width: 100%
}

@media screen and (max-width:1024px) {
    /* 타블렛 */
    .skillPage {
        width: 100%;
    }
    .skillTitle{
        font-size: 2rem;
        margin-left: 1rem;
    }
    .skillImgSet{
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
}


@media screen and (max-width:767px) {
    /* 모바일 */
    .skillContent{
        padding-top: 15vh;      
    }
}
