.skill {
    /* font-family: 'Nanum Gothic Coding', monospace; */
    background-color: rgb(255, 255, 255);
}

.skillPage {
    width: 100vw;
    max-width: 73em;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.skillContent{
    padding-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.skillTitle{
    font-size: 3.5rem;
    color: rgb(92, 92, 92);
    text-align: start;
    border-bottom: 1px solid rgb(92, 92, 92);
}
.skillImgSet{
    display: grid;
    height: 72%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    grid-gap: 1rem;
    width: 80%;
}

.skillImg{
    width: 100%;
    height: 100%;
}

.imgLap{
    width: 100%
}